Package: com.sss1919.autopodmode
Name: AutoPodMode
Depends: mobilesubstrate, preferenceloader
Architecture: iphoneos-arm64e
Description: AirPods Pro/Max automatic listening mode switcher based on media playback state
Maintainer: sss1919
Author: sss1919
Section: Tweaks
Version: 1.0.1
