<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundle</key>
	<string>com.sss1919.autopodmode.prefs</string>
	<key>cell</key>
	<string>PSLinkCell</string>
	<key>isContiguous</key>
	<true/>
	<key>label</key>
	<string>AutoPodMode</string>
</dict>
</plist>
